@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sen:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000;
}

.center{
    max-width: 1440px;
    width: 100%;
    margin: 50px auto;
    padding: 0 3%;
}

.local-apoio{
    margin: 30px 0;
    display: flex;
    align-items: center;
    background: #eee;
    transition: 0.5s;
}

.local-img{
    width: 40%;
    height: 300px;
    object-fit: cover;
}

.local-text{
    padding: 0 40px;
}

.local-title{
    font-family: 'sen';
    font-size: 2rem;
    letter-spacing: -2px;
}

.local-para{
    font-family: 'inter';
    margin-top: 40px;
    line-height: 1.8rem;
}

a.local-apoio:hover{
    box-shadow: 0px 4px 19px -8px rgba(0,0,0,0.75);
}